<html>
<head>
	<title >Alex's Sportswear</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
	
</head>
<body>
  
	<h1 > Welcome to Alex's Sportswear</h1>
	  <img src="static/sales.jpg" alt="sales" height="210" width="210">
	  <br>
	    <a href="http://set09103.napier.ac.uk:9189/">Home /</a>
	   <a href="http://set09103.napier.ac.uk:9189/account">Account /</a> 
  <a href="http://set09103.napier.ac.uk:9189/photos">Photos</a>

	<h2 > Browse by category </h2>
	
	<a href="http://set09103.napier.ac.uk:9189/men">Men /</a>
	<a href="http://set09103.napier.ac.uk:9189/women">Women /</a>
	<a href="http://set09103.napier.ac.uk:9189/kids">Kids</a>

 {% block content %} {% endblock %}
 

 
 <body style="background-color:lightgray;">

 </body>
 </html >