<html>
<head>
	<title >Alex's Sportswear</title>
	
</head>
<body>
  
	<h1 > Welcome to Alex's Sportswear</h1>
	  <img src="static/sales.jpg" alt="sales" height="210" width="210">

	<h2 > Browse by category </h2>
	
	<a href="http://set09103.napier.ac.uk:9189/men">Men</a>
	<a href="http://set09103.napier.ac.uk:9189/women">Women</a>
	<a href="http://set09103.napier.ac.uk:9189/kids">Kids</a>

 {% block content %} {% endblock %}
 <hr>
 <br>
 
  <a href="http://set09103.napier.ac.uk:9189/photos">Product photos</a>
  <hr>
 <br>

 <a href="http://set09103.napier.ac.uk:9189/">Home</a>
 
 <body style="background-color:lightgray;">

 </body>
 </html >